Packs/DSPM/Playbooks/DSPM_Multi-Cloud_Risk_Remediation.yml
id: 92eb37ab-8999-4a46-8a88-17bff8fe9731
version: 41
vcShouldKeepItemLegacyProdMachine: false
name: DSPM Multi-Cloud Risk Remediation
description: The playbook ensures efficient incident resolution and compliance with
  security policies by guiding the user through decision points based on incident
  type, such as empty storage assets or assets open to the world. It concludes by
  updating the incident status and closing the playbook upon resolution.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: bf838bc6-fd32-4cfb-8907-d8ab44600b88
    type: start
    task:
      id: bf838bc6-fd32-4cfb-8907-d8ab44600b88
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: aef58af5-9dc0-45e1-8856-9e2dc44092d3
    type: condition
    task:
      id: aef58af5-9dc0-45e1-8856-9e2dc44092d3
      version: -1
      name: Check if the Action is value
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      Invalid response:
      - "29"
      Jira action:
      - "58"
      No Response from user:
      - "48"
      Remediation action for Empty storage asset:
      - "44"
      Remedition action (Sensitive asset open to world):
      - "40"
    separatecontext: false
    conditions:
    - label: Jira action
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: User.Action
            iscontext: true
          right:
            value:
              simple: jira
    - label: Remedition action (Sensitive asset open to world)
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: User.Action
            iscontext: true
          right:
            value:
              simple: remediate
      - - operator: isEqualString
          left:
            value:
              simple: incident.riskname
            iscontext: true
          right:
            value:
              simple: Sensitive asset open to world
    - label: No Response from user
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: User.Action
            iscontext: true
          right:
            value:
              simple: no_response
    - label: Remediation action for Empty storage asset
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: User.Action
            iscontext: true
          right:
            value:
              simple: remediate
      - - operator: isEqualString
          left:
            value:
              simple: incident.riskname
            iscontext: true
          right:
            value:
              simple: Empty storage asset
    - label: Invalid response
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: User.Action
            iscontext: true
          right:
            value:
              simple: invalid_response
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 1345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: d71509bd-4b68-4fd5-847a-750dad4f305a
    type: regular
    task:
      id: d71509bd-4b68-4fd5-847a-750dad4f305a
      version: -1
      name: Closed current  Incident playbook
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeReason:
        simple: Resolved
      id:
        simple: ${incident.id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 2825
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 83a5defe-a827-4aa2-8834-feab5fb20876
    type: regular
    task:
      id: 83a5defe-a827-4aa2-8834-feab5fb20876
      version: -1
      name: Obtaining the relevant risk fields from the incident
      scriptName: DSPMExtractRiskDetails
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      incident_object:
        simple: ${incident}
    results:
    - userSlackEmail
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 871cd1d0-8209-4cef-8888-edbe6284b589
    type: regular
    task:
      id: 871cd1d0-8209-4cef-8888-edbe6284b589
      version: -1
      name: Create a Slackblock list to send a user notification displaying risk information.
      description: This XSOAR automation script generates a Slack message block to
        notify users of risks detected by a Data Security Posture Management (DSPM)
        tool. The Slack block is dynamically constructed based on the details of the
        security incident and includes options for users to take specific actions,
        such as creating a Jira ticket or remediating the risk.
      scriptName: CreateDSPMRiskSlackBlocks
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      dspm_incident:
        simple: ${incident_object}
      list_of_project:
        simple: ${projects_list}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 2c01d0a1-08ee-456a-8122-d8fb59844756
    type: regular
    task:
      id: 2c01d0a1-08ee-456a-8122-d8fb59844756
      version: -1
      name: Removing ${block_list_name} list from XSOAR LIST
      scriptName: DSPMRemoveSlackBlockList
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      list_name:
        simple: ${block_list_name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 2595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: bd0c934e-56bc-4e78-8502-88de7c23ab3a
    type: regular
    task:
      id: bd0c934e-56bc-4e78-8502-88de7c23ab3a
      version: -1
      name: OverwriteListAndNotify
      description: This automation script overwrites the value of a specified list
        and sends a Slack notification to inform the user that they failed to respond
        to an incident notification in a timely manner. The notification includes
        a message indicating the end of the incident playbook and an invitation to
        reopen the incident if necessary.
      scriptName: DSPMOverwriteListAndNotify
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      incident_id:
        simple: ${incident_object.incidentId}
      list_name:
        simple: ${block_list_name}
      message:
        simple: "You have provided invalid response to ${incident_object.incidentId}
          \n Incident notification. We will resend the notification for Incident ${incident_object.incidentId}
          respond with valid details.\nRegards."
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 01e7668f-2a5e-4277-8e18-e82655ff284c
    type: regular
    task:
      id: 01e7668f-2a5e-4277-8e18-e82655ff284c
      version: -1
      name: Send slack notification to ${userSlackEmail}
      description: SlackBlockBuilder will format a given Slack block into a format
        readable by the SlackV3 integration. The script will also send the block to
        the given destination. Make sure to mark **Trust any certificate** and fill
        the **XSOAR API Key integration** parameters if you want to get a response
        to the incident context.
      scriptName: SlackBlockBuilder
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      list_name:
        simple: ${block_list_name}
      user:
        simple: ${userSlackEmail}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 2315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: c5c9cc2f-1020-43d1-8ea0-180322240609
    type: condition
    task:
      id: c5c9cc2f-1020-43d1-8ea0-180322240609
      version: -1
      name: Errors occurred when retrieving the necessary risk fields?
      description: This script checks for error entries based on provided entry IDs
        and returns "yes" if any errors are found or "no" if no errors are present.
        If errors are detected, it sets the error messages in the XSOAR context.
      scriptName: DSPMCheckAndSetErrorEntries
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "27"
      "yes":
      - "50"
    scriptarguments:
      entry_id:
        simple: ${lastCompletedTaskEntries}
    results:
    - ErrorEntries
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 3aa32a75-bc46-4852-8f17-df11598270d5
    type: condition
    task:
      id: 3aa32a75-bc46-4852-8f17-df11598270d5
      version: -1
      name: 'Errors occurred when developing the Slack block list for the incident
        ID : ${incident.id}'
      description: This script checks for error entries based on provided entry IDs
        and returns "yes" if any errors are found or "no" if no errors are present.
        If errors are detected, it sets the error messages in the XSOAR context.
      scriptName: DSPMCheckAndSetErrorEntries
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "52"
      "yes":
      - "51"
    scriptarguments:
      entry_id:
        simple: ${lastCompletedTaskEntries}
    results:
    - ErrorEntries
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 815
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 39b683cb-15fc-4ca0-8f13-12e163012ba8
    type: regular
    task:
      id: 39b683cb-15fc-4ca0-8f13-12e163012ba8
      version: -1
      name: closeInvestigation
      description: Close the current incident
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeNotes:
        simple: Closing the playbook before sending notification to user.
      closeReason:
        simple: Unable to fetch the list of project.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: b99382b5-a6ec-49a5-865f-378c34948474
    type: regular
    task:
      id: b99382b5-a6ec-49a5-865f-378c34948474
      version: -1
      name: closeInvestigation
      description: Close the current incident
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeNotes:
        simple: Closing the playbook before sending notification to user.
      closeReason:
        simple: Unable to create custom slack block for this incident.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1630,
          "y": 1345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: d3792edc-ef0c-4b03-8ed2-9b8b80bfd174
    type: playbook
    task:
      id: d3792edc-ef0c-4b03-8ed2-9b8b80bfd174
      version: -1
      name: DSPM Remediation playbook for Sensitive asset open to world.
      playbookName: DSPM Remediation playbook for Sensitive asset open to world.
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 50fe4308-911d-4d45-807c-f73fd158856a
    type: playbook
    task:
      id: 50fe4308-911d-4d45-807c-f73fd158856a
      version: -1
      name: DSPM Remediation playbook for Empty storage asset
      playbookName: DSPM Remediation playbook for Empty storage asset
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1287.5,
          "y": 1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: eb66f94d-3e53-45f3-863b-07b010fb9585
    type: regular
    task:
      id: eb66f94d-3e53-45f3-863b-07b010fb9585
      version: -1
      name: OverwriteListAndNotify
      description: This automation script overwrites the value of a specified list
        and sends a Slack notification to inform the user that they failed to respond
        to an incident notification in a timely manner. The notification includes
        a message indicating the end of the incident playbook and an invitation to
        reopen the incident if necessary.
      scriptName: DSPMOverwriteListAndNotify
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      incident_id:
        simple: ${incident_object.incidentId}
      list_name:
        simple: ${block_list_name}
      message:
        simple: |-
          You have not responed on incident ID : ${incident_object.incidentId} in timely manner.
          We are coming to an end of the ${incident_object.incidentId} incident playbook from XSOAR.You are welcome to reopen it. Regards.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 1620
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 1d18778c-1f1e-471b-8ea4-8be34961d93d
    type: playbook
    task:
      id: 1d18778c-1f1e-471b-8ea4-8be34961d93d
      version: -1
      name: DSPM notify user in case of error
      playbookName: DSPM notify user in case of error
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: c9419eba-bb51-4c5f-87de-b0f936257ebc
    type: playbook
    task:
      id: c9419eba-bb51-4c5f-87de-b0f936257ebc
      version: -1
      name: DSPM notify user in case of error
      description: The DSPM Notify User in Case of Error playbook is designed to handle
        errors in DSPM incidents by notifying users and managing Slack notifications.
      playbookName: DSPM notify user in case of error
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1630,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 6738ba14-d13e-466b-8ce5-3ce42f8af0a7
    type: playbook
    task:
      id: 6738ba14-d13e-466b-8ce5-3ce42f8af0a7
      version: -1
      name: Send Slack Notification to User
      playbookName: DSPM Send Slack Notification to User
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 5405abbe-0597-40bb-899c-86e20bd1c1ca
    type: regular
    task:
      id: 5405abbe-0597-40bb-899c-86e20bd1c1ca
      version: -1
      name: Add incident for re-run
      scriptName: DSPMIncidentList
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      incident_data:
        simple: ${incident_object}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1890,
          "y": 2315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: 21f7c00b-1df5-420a-82a8-410722f3624e
    type: regular
    task:
      id: 21f7c00b-1df5-420a-82a8-410722f3624e
      version: -1
      name: Send slack notification to ${userSlackEmail}
      description: SlackBlockBuilder will format a given Slack block into a format
        readable by the SlackV3 integration. The script will also send the block to
        the given destination. Make sure to mark **Trust any certificate** and fill
        the **XSOAR API Key integration** parameters if you want to get a response
        to the incident context.
      scriptName: SlackBlockBuilder
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      list_name:
        simple: ${block_list_name}
      user:
        simple: ${userSlackEmail}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2190,
          "y": 1900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 5df01203-bf70-447d-80d1-68b3cad379f5
    type: playbook
    task:
      id: 5df01203-bf70-447d-80d1-68b3cad379f5
      version: -1
      name: DSPM Jira Ticket Creation
      playbookName: DSPM Jira Ticket Creation
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 100,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: 6594048c-0948-485f-839c-cfe1acf8df80
    type: condition
    task:
      id: 6594048c-0948-485f-839c-cfe1acf8df80
      version: -1
      name: Is there any error occurred in DSPM Jira ticket playbook?
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      scriptName: isError
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "34"
      "yes":
      - "28"
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 100,
          "y": 1900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2870,
        "width": 2740,
        "x": 100,
        "y": 50
      }
    }
  }
inputs:
- key: Incident Name
  value:
    simple: ${incident.name}
  required: true
  description: ""
  playbookInputQuery: null
- key: Project Key
  value:
    simple: ${incident.jiraproject}
  required: false
  description: ""
  playbookInputQuery: null
- key: Summary
  value:
    simple: ${incident.jirasummary}
  required: false
  description: ""
  playbookInputQuery: null
- key: Issue Type
  value:
    simple: ${incident.jiraissuetype}
  required: false
  description: ""
  playbookInputQuery: null
- key: Issue Description
  value:
    simple: ${incident.jiradescription}
  required: false
  description: ""
  playbookInputQuery: null
- key: Action
  value:
    simple: ${incident.action}
  required: true
  description: ""
  playbookInputQuery: null
outputs: []
sourceplaybookid: da7fa1c4-11b7-4c6c-8afa-15d0e3e5f417
